body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  text-decoration: none;
}

.search{
  line-height: 26px;
  text-align: center;
  margin-right: -60px;
  z-index: 1;
  float: left;
}

img{
  cursor: pointer;
}

input:focus{
  outline: none !important;
  border-color: #062567;;
}